<!-- Header -->
<header id="header" class="u-header u-header--abs-top-md u-header--show-hide-md u-header--untransitioned" data-header-fix-moment="500" data-header-fix-effect="slide">
  <div class="u-header__section custom_header">
    <div id="logoAndNav" class="container">
      <!-- Nav -->
      <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar hs-menu-initialized hs-menu-horizontal">
        <!-- Logo -->
        <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-top-space custom_logo-2" href="/landing/bishal" aria-label="Front">
          <%= image_tag asset_pack_path('init/bootstrap/theme/svg/logos/logo-projects-locaux-blc.svg'), :alt => "Logo", :class => " custom_logo" %>
        </a>
        <!-- End Logo -->
      </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>
<!-- End Header -->
<main class="content" role="main">
    <!-- Front for -->
    <div class="container mt-8 pt-8">
        <div class="w-md-80 w-lg-50 mx-auto mb-9">
            <!-- Form -->
            <form class="js-validate mt-3">
                <div class="media shadow-sm p-4"> 
                    <div class="col-12 mb-5">
                        <!-- Title -->
                        <div class="mb-4">
                            <h3 class="text-primary font-weight-bold">Inviter vos partenaires</h3>
                            <p class="text-justify">inviter vos partenaires à créer leur espace de travail afin de partager avec vous leurs profils (anonymes) de porteurs de projets locaux. </p>
                        </div>
                        <!-- End Title -->

                        <!-- Collapsable -->
                        <div id="FAQCollapse" class="accordion mb-3">
                            <!-- Card -->
                            <div class="card u-card-collapse">
                                <div class="card-header px-4" id="FAQHeadingOne">
                                    <div class="collapsed" data-toggle="collapse" data-target="#FAQOne" aria-expanded="false" aria-controls="FAQOne" role="button">
                                        <h3 class="h6 d-flex justify-content-between align-items-center font-weight-bold u-card-collapse__heading mb-0">
                                            Qui inviter sur projets-locaux?
                                            <span class="fa fa-angle-up u-card-collapse__heading-icon"></span>
                                        </h3>
                                    </div>
                                </div>
                                <div id="FAQOne" class="collapse" aria-labelledby="FAQHeadingOne" data-parent="#FAQCollapse" style="">
                                    <div class="card-body px-4">
                                        <p class="text-justify">Vos partenaires locaux, que vous connaissez et qui agissent eux-aussi au niveau local auprès des créateurs (ou cédants) de commerces, afin de mutualiser vos ressources.</p>
                                        <p class="text-justify">Et par exemple, le service commerce de la ville, de l’intercommunalité, la Chambre de commerce, la Chambre des métiers, la BGE - Boutique de gestion des entreprises, les associations de commerçants, Pôle Emploi service création d’entreprise, la plateforme Initiative, les principales banques de réseaux, les principaux cabinets d’expertise comptable, l’Agence de développement, les associations de créateurs, de repreneurs, de financement, etc.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Card -->
                        </div>
                        <!-- End Collapsable -->
                    
                        <!-- Input -->
                        <div class="js-form-message mb-2">
                            <div class="js-focus-state input-group u-form">
                                <input type="email" class="form-control u-form__input" name="email" required="" placeholder="nom@example.com" aria-label="jack@walley.com" data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success">
                            </div>
                        </div>
                        <!-- End Input -->

                        <!-- Input -->
                        <div class="js-form-message mb-2">
                            <div class="js-focus-state input-group u-form">
                                <input type="email" class="form-control u-form__input" name="email" required="" placeholder="nom@example.com" aria-label="jack@walley.com" data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success">
                            </div>
                        </div>
                        <!-- End Input -->

                        <!-- Input -->
                        <div class="js-form-message mb-2">
                            <div class="js-focus-state input-group u-form">
                                <input type="email" class="form-control u-form__input" name="email" required="" placeholder="nom@example.com" aria-label="jack@walley.com" data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success">
                            </div>
                        </div>
                        <!-- End Input -->

                        <!-- Input -->
                        <div class="js-form-message mb-2">
                            <div class="js-focus-state input-group u-form">
                                <input type="email" class="form-control u-form__input" name="email" required="" placeholder="nom@example.com" aria-label="jack@walley.com" data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success">
                            </div>
                        </div>
                        <!-- End Input -->

                        <!-- Input -->
                        <div class="js-form-message mb-2">
                            <div class="js-focus-state input-group u-form">
                                <input type="email" class="form-control u-form__input" name="email" required="" placeholder="nom@example.com" aria-label="jack@walley.com" data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success">
                            </div>
                        </div>
                        <!-- End Input -->

                        <!-- Input -->
                        <div class="js-form-message mb-2">
                            <div class="js-focus-state input-group u-form">
                                <input type="email" class="form-control u-form__input" name="email" required="" placeholder="nom@example.com" aria-label="jack@walley.com" data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success">
                            </div>
                        </div>
                        <!-- End Input -->

                        <!-- Input -->
                        <div class="js-form-message mb-2">
                            <div class="js-focus-state input-group u-form">
                                <input type="email" class="form-control u-form__input" name="email" required="" placeholder="nom@example.com" aria-label="jack@walley.com" data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success">
                            </div>
                        </div>
                        <!-- End Input -->

                        <!-- Input -->
                        <div class="js-form-message mb-2">
                            <div class="js-focus-state input-group u-form">
                                <input type="email" class="form-control u-form__input" name="email" required="" placeholder="nom@example.com" aria-label="jack@walley.com" data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success">
                            </div>
                        </div>
                        <!-- End Input -->

                        <!-- Input -->
                        <div class="js-form-message mb-2">
                            <div class="js-focus-state input-group u-form">
                                <input type="email" class="form-control u-form__input" name="email" required="" placeholder="nom@example.com" aria-label="jack@walley.com" data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success">
                            </div>
                        </div>
                        <!-- End Input -->

                        <!-- Input -->
                        <div class="js-form-message mb-4">
                            <div class="js-focus-state input-group u-form">
                                <input type="email" class="form-control u-form__input" name="email" required="" placeholder="nom@example.com" aria-label="jack@walley.com" data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success">
                            </div>
                        </div>
                        <!-- End Input -->

                        <!-- Button -->
                        <div class="row align-items-center mb-5 text-center">
                            <div class="col-12 ">
                                <button type="submit" class="btn btn-block u-btn-primary--air transition-3d-hover">Inviter</button>
                            </div>
                        </div>
                        <!-- End Button -->

                        <div class="row align-items-lg-center">
                            <div class="col-lg-12 order-lg-1 mb-7 mb-lg-0">
                                <!-- SVG Icon -->
                                <%= image_tag asset_pack_path('init/bootstrap/theme/svg/flat-icons/analysis-flat-concept-illustration.svg'), :alt => "SVG Illustration" %>
                                <!-- End SVG Icon -->
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- End Form -->
        </div> 
    </div>
    <!-- End Front for -->
</main>