<!-- Header -->
<header id="header" class="u-header u-header--abs-top-md u-header--show-hide-md u-header--untransitioned" data-header-fix-moment="500" data-header-fix-effect="slide">
  <div class="u-header__section custom_header">
    <div id="logoAndNav" class="container">
      <!-- Nav -->
      <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar hs-menu-initialized hs-menu-horizontal">
        <!-- Logo -->
        <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-top-space custom_logo-2" href="/landing/bishal" aria-label="Front">
          <%= image_tag asset_pack_path('init/bootstrap/theme/svg/logos/logo-projects-locaux-blc.svg'), :alt => "Logo", :class => " custom_logo" %>
        </a>
        <!-- End Logo -->
      </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>
<!-- End Header -->

<main id="content" role="main">
    <div class="container u-space-3">

        <div class="w-md-80 w-lg-60 mx-auto mb-9">
            <!-- Form -->
            <form class="js-validate mt-3">
                <div class="media shadow-sm p-4"> 
                    <div class="col-12 mb-5">
                        <!-- Title -->
                        <div class="mb-5">
                            <h3 class="text-primary font-weight-bold mb-3">Ajouter un porteur de projet local</h3>
                            <p class="inline">Confidentialité : le nom et les coordonnées de vos porteurs de projet ne seront jamais divulgués sur Projets-locaux.fr.</p>
                        </div>
                        <!-- End Title -->
                        
                        <!-- Input Fields -->
                        <div class="row">
                            <!-- Left inputs -->
                            <div class="col-sm-6 mb-6">
                                <!-- Input -->
                                <div class="js-form-message mb-3">
                                    <div class="js-focus-state input-group u-form">
                                        <input type="text" class="form-control input-height u-form__input ml-1" name="prénom" required="" placeholder="prénom" aria-label="jack@walley.com" data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success">
                                        <input type="text" class="form-control input-height u-form__input" name="nom" required="" placeholder="nom" aria-label="jack@walley.com" data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success">
                                    </div>
                                </div>
                                <!-- End Input -->

                                <!-- Input -->
                                <div class="js-form-message mb-3">
                                    <div class="js-focus-state input-group u-form">
                                        <input type="email" class="form-control input-height u-form__input" name="email" required="" placeholder="l'adresse email" aria-label="jack@walley.com" data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success">
                                    </div>
                                </div>
                                <!-- End Input -->

                                <!-- Input -->
                                <div class="js-form-message mb-3">
                                    <div class="js-focus-state input-group u-form">
                                        <input type="text" class="form-control input-height u-form__input" name="telephone" required="" placeholder="numéro de téléphone" aria-label="jack@walley.com" data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success">
                                    </div>
                                </div>
                                <!-- End Input -->

                                <!-- Input -->
                                <div class="js-form-message mb-3">
                                    <div class="js-focus-state input-group u-form">
                                        <input type="text" class="form-control input-height u-form__input" name="adresse" required="" placeholder="adresse" aria-label="jack@walley.com" data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success">
                                    </div>
                                </div>
                                <!-- End Input -->

                                <!-- Input -->
                                <div class="js-focus-state input-group u-form mb-3">
                                    <input type="text" class="form-control input-height u-form__input" name="apport" required="" placeholder="apport" aria-label="apport" data-msg="Please enter a valid figure" data-error-class="u-has-error" data-success-class="u-has-success">
                                    <div class="input-group-prepend u-form__prepend">
                                        <span class="input-group-text input-group-text-modified u-form__text">K &euro;</span>
                                    </div>
                                </div>
                                <!-- End Input -->

                               <!-- Profile picture button --> 
                                <label class="btn btn-sm btn-primary u-btn-primary u-file-attachment-btn mt-3" for="fileAttachmentBtn">
                                    <span class="fa fa-plus mr-2"></span>
                                    Profile Picture
                                    <input id="fileAttachmentBtn" name="file-attachment" type="file" class="u-file-attachment-btn__label">
                                </label> 
                                <!-- End profile picture button -->
                                
                            </div>
                            <!-- End Left inputs -->

                            <!-- Right inputs -->
                            <div class="col-sm-6 mb-6">
                                
                                <!-- Checkbox -->
                                <div class="custom-control custom-checkbox d-flex align-items-center text-muted mb-3">
                                    <input type="checkbox" class="custom-control-input" id="termsCheckbox" name="termsCheckbox" required="" data-msg="Please accept our Terms and Conditions." data-error-class="u-has-error" data-success-class="u-has-success">
                                    <label class="custom-control-label" for="termsCheckbox">
                                        Souhaite créer un commerce
                                    </label>
                                </div>
                                <!-- End Checkbox -->

                                <!-- Checkbox -->
                                <div class="custom-control custom-checkbox d-flex align-items-center text-muted mb-3">
                                    <input type="checkbox" class="custom-control-input" id="termsCheckbox2" name="termsCheckbox2" required="" data-msg="Please accept our Terms and Conditions." data-error-class="u-has-error" data-success-class="u-has-success">
                                    <label class="custom-control-label" for="termsCheckbox2">
                                        Est candidat à la franchise
                                    </label>
                                </div>
                                <!-- End Checkbox -->

                                <!-- Checkbox -->
                                <div class="custom-control custom-checkbox d-flex align-items-center text-muted mb-3">
                                    <input type="checkbox" class="custom-control-input" id="termsCheckbox3" name="termsCheckbox3" required="" data-msg="Please accept our Terms and Conditions." data-error-class="u-has-error" data-success-class="u-has-success">
                                    <label class="custom-control-label" for="termsCheckbox3">
                                        Nécessite un local
                                    </label>
                                </div>
                                <!-- End Checkbox -->

                                <hr class="my-3">

                                <!-- Checkbox -->
                                <div class="custom-control custom-checkbox d-flex align-items-center text-muted mb-3">
                                    <input type="checkbox" class="custom-control-input" id="termsCheckbox4" name="termsCheckbox4" required="" data-msg="Please accept our Terms and Conditions." data-error-class="u-has-error" data-success-class="u-has-success">
                                    <label class="custom-control-label" for="termsCheckbox4">
                                        Cède son fond de commerce
                                    </label>
                                </div>
                                <!-- End Checkbox -->

                                <!-- Checkbox -->
                                <div class="custom-control custom-checkbox d-flex align-items-center text-muted mb-3">
                                    <input type="checkbox" class="custom-control-input" id="termsCheckbox5" name="termsCheckbox5" required="" data-msg="Please accept our Terms and Conditions." data-error-class="u-has-error" data-success-class="u-has-success">
                                    <label class="custom-control-label" for="termsCheckbox5">
                                        Cède son bail commercial
                                    </label>
                                </div>
                                <!-- End Checkbox -->

                                <!-- Input -->
                                <div class="js-focus-state input-group u-form mt-3">
                                    <p class="text-muted">Horizon du projet</p>
                                    <input type="text" class="form-control input-height u-form__input ml-5" name="horizonProjet" required="" placeholder="YYYY" aria-label="jack@walley.com" data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success">
                                </div>
                                <!-- End Input -->

                                <!-- Select -->
                                <div class="mt-3">
                                    <select class="selectpicker form-control" multiple data-live-search="true">
                                        <option value="#">Recherche & Développement</option>
                                        <option value="#">IT</option>
                                        <option value="#">Production</option>
                                        <option value="#">La gestion</option>
                                    </select>
                                </div>
                                <!-- End Select -->
                            </div>
                            <!-- End Rigth inputs -->

                        </div>
                        <!-- End Input Fields -->

                        <!-- Textarea -->
                        <div class="form-group shadow-textarea">
                            <textarea class="form-control resize-none z-depth-1" id="descriptionDuProjet" rows="7" placeholder="Description du projet"></textarea>
                        </div>
                        <!-- End Textarea -->

                        <!-- Textarea -->
                        <div class="form-group shadow-textarea">
                            <textarea class="form-control resize-none z-depth-1" id="experienceDuPorteur" rows="7" placeholder="Expérience du porteur"></textarea>
                        </div>
                        <!-- End Textarea -->

                        <!-- Input -->
                        <div class="js-form-message mb-4">
                            <div class="js-focus-state input-group u-form">
                                <textarea class="form-control resize-none z-depth-1" id="franchisesSouhaitee" rows="4" placeholder="Franchises souhaitée"></textarea>
                                <textarea class="form-control resize-none z-depth-1 ml-3" id="villeImplantation" rows="4" placeholder="Ville d'implantation enrisagées"></textarea>
                            </div>
                        </div>
                        <!-- End Input -->

                        <!-- Checkbox -->
                        <div class="custom-control custom-checkbox d-flex align-items-center text-muted mb-2">
                            <input type="checkbox" class="custom-control-input" id="publierProfil" name="publierProfil" required="" data-msg="Please accept our Terms and Conditions." data-error-class="u-has-error" data-success-class="u-has-success">
                            <label class="custom-control-label" for="publierProfil">
                                Publier ce profil sur inSiti (recommandé)
                                <span class="fa fa-info-circle text-primary font-size-20" data-toggle="tooltip" data-placement="top" title="" 
                                    data-original-title="La publication du profil sur inSiti permet de le rendre visible par les enseignes qui cherchent leurs futurs franchisés locaux. Cela doit se faire avec l’accord expresse du porteur de projet. 
                                Il va recevoir instantanément par message des codes d’accès afin de pouvoir répondre gratuitement aux enseignes qui le contacteront sur inSiti." aria-describedby="tooltip961465"></span>
                            </label>
                        </div>
                        <!-- End Checkbox -->
                    </div>
                </div>
                
                <!-- Button -->
                <div class="row align-items-center mb-5 mt-4 text-center">
                    <div class="col-12 ">
                        <a class="btn btn-sm u-btn-primary--air transition-3d-hover" href="#">
                            <span class="fa fa-plus mr-2"></span>
                            Ajouter
                        </a> 
                    </div>
                </div>
                <!-- End Button -->
            </form>
            <!-- End Form -->




                





        </div>
    </div>
</main>