<header id="header" class="u-header">
    <div class="u-header__section custom_header">
       <div id="logoAndNav" class="container">
            <!-- Nav -->
            <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar hs-menu-initialized hs-menu-horizontal">
                <!-- Logo -->
                <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-top-space" href="../home/index.html" aria-label="Front">
                    <%= image_tag asset_pack_path('init/bootstrap/theme/svg/logos/logo-projects-locaux-blc.svg'), :alt => "Logo", :class => " custom_logo" %>
                </a>
                <!-- End Logo -->
            </nav>
            <!-- End Nav -->
        </div>
    </div>
</header>

<main id="content" role="main">
    <div class="bg-primary">
        <div class="container u-space-1">
            <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
                <div class="mb-3 mb-sm-0">
                    <!-- Breadcrumb -->
                    <ol class="breadcrumb breadcrumb-white breadcrumb-no-gutter mb-0">
                        <li class="breadcrumb-item"><a class="breadcrumb-link" href="#">Accueil</a></li>
                        <li class="breadcrumb-item"><a class="breadcrumb-link" href="#">Liste</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Profil</li>
                    </ol>
                    <!-- End Breadcrumb -->
                </div>

                <!-- Edit Profile -->
                <a class="btn btn-sm u-btn-white--air transition-3d-hover" href="edit-profile.html">
                    <span class="fa fa-user-cog font-size-13 mr-2"></span>
                    Editer 
                </a>
                <!-- End Edit Profile -->
            </div>
        </div>
    </div>

    <div class="u-bg-light-blue-50">
        <div class="container u-space-2">
            <div class="row">
                <div class="col-lg-3 mb-7 mb-lg-0">
                    <!-- Profile Card -->
                    <div class="card p-1 mb-4">
                        <div class="card-body text-center">
                            <div class="mb-2">
                                <%= image_tag asset_pack_path('init/bootstrap/theme/img/160x160/bishal.jpg'), :alt => "Profile Image", :class => "u-xl-avatar rounded-circle" %>
                            </div>

                            <div class="mb-2">
                                <h5 class="d-block font-weight-bold text-primary">Paul Langevin</h5>
                                <h6 class="d-block text-primary">Apport : 100 k &euro;</h6>
                            </div>

                            <div class="mb-2">
                                <h6 class="d-block font-weight-medium text-muted">
                                    Horizon du projet : 
                                    <span> 2019</span>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <!-- End Profile Card -->
                </div>

                <div class="col-lg-9">
                    <!-- User Details -->
                    <div class="mb-4">
                        <h2 class="h4">Bonjour, Je Suis Paul Langevin</h2>
                        <h4 class="h6 text-secondary mb-0">
                            <span class="fa fa-map-marker-alt min-width-6 text-center text-secondary mr-0"></span>
                            Bordeux, France <small>- Joined in September 2018</small>
                        </h4>
                    </div>
                    <!-- End User Details -->

                    <!-- Info -->
                    <div class="mb-4">
                    <p class="text-justify">I am a project manager from England. This is where I sit down, grab a cup of coffee and dial in the details. Understanding the task at hand and ironing out the wrinkles is key. The time has come to bring those ideas and plans to life. This is where we really begin to visualize your napkin sketches and make them into beautiful pixels.</p>
                    </div>
                    <!-- End Info -->
                    
                    <hr class="my-7">

                    <!-- Icon Blocks -->
                    <div class="row">
                        <!-- Title -->
                        <div class="col-md-12 col-lg-12 mb-3">
                            <h3 class="h5 mb-0 text-primary">Vous souhaitez avoir plus d'info?</h3>
                        </div>
                        <!-- End Title -->

                        <div class="col-md-6 col-lg-4 mt-2">
                            <!-- List -->
                            <ul class="list-unstyled mb-0">
                                <li class="mb-4">
                                    <div class="media">
                                        <span class="fa fa-envelope min-width-6 text-center text-secondary mr-2"></span>
                                        <div class="media-body text-lh-sm">
                                            <span class="d-block font-size-14">Email:</span>
                                            <a class="small" href="#">natalie.curtis@gmail.com</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-6 col-lg-4 mt-2">
                            <ul class="list-unstyled mb-0">
                                <li class="mb-4">
                                    <div class="media">
                                        <span class="fa fa-mobile-alt min-width-6 text-center text-secondary mr-2"></span>
                                        <div class="media-body text-lh-sm">
                                            <span class="d-block font-size-14">Numéro de téléphone:</span>
                                            <a class="small mr-1" href="#">+33 (1) 23 45 67 89</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Icon Blocks -->

                    <hr class="my-7">

                    <!-- Info -->
                    <div class="row mb-7">
                        <div class="col-md-6 mb-7 mb-md-0">
                            <!-- Title -->
                            <div class="mb-3">
                                <h3 class="h5 mb-0 text-primary">Expérience du porteur</h3>
                            </div>
                            <!-- End Title -->

                            <!-- Info -->
                            <div class="d-flex mb-5">
                                <div>
                                    <span class="d-block text-secondary">Expérience 1</span>
                                </div>
                            </div>
                            <!-- End Info -->

                            <!-- Info -->
                            <div class="d-flex">
                                <div>
                                    <span class="d-block text-secondary">Expérience 2</span>
                                </div>
                            </div>
                            <!-- End Info -->
                        </div>

                        <div class="col-md-6 mb-3 mb-md-0">
                            <!-- Title -->
                            <div class="mb-3">
                                <h3 class="h5 mb-0 text-primary">Description du projet</h3>
                            </div>
                            <!-- End Title -->

                            <!-- Info -->
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <span class="d-block text-secondary">- Souhaite créer un commerce</span>
                                </div>
                            </div>
                            <!-- End Info -->

                            <!-- Info -->
                            <div class="row align-items-center">
                                <div class="col-8">
                                     <span class="d-block text-secondary">- Est candidat à la franchise</span>
                                </div>
                            </div>
                            <!-- End Info -->

                            <!-- Info -->
                            <div class="row align-items-center">
                                <div class="col-8">
                                     <span class="d-block text-secondary">- Nécessite un local</span>
                                </div>
                            </div>
                            <!-- End Info -->

                            <!-- Info -->
                            <div class="row align-items-center">
                                <div class="col-8">
                                     <span class="d-block text-secondary">- Cède son fond de commerce</span>
                                </div>
                            </div>
                            <!-- End Info -->

                            <!-- Info -->
                            <div class="row align-items-center">
                                <div class="col-8">
                                     <span class="d-block text-secondary">- Cède son bail commercial</span>
                                </div>
                            </div>
                            <!-- End Info -->
                        </div>
                    </div>
                    <!-- End Info -->

                    <hr class="my-7">

                    <!-- Secteur d'activite -->
                    <div class="row">
                        <!-- Title -->
                        <div class="col-md-12 col-lg-12 mb-3">
                            <h3 class="h5 mb-0 text-primary">Secteur d'activité</h3>
                        </div>
                        <!-- End Title -->

                        <div class="col-md-6 col-lg-4">
                            <!-- List -->
                            <ul class="list-unstyled mb-0">
                                <li class="mb-4">
                                    <div class="media">
                                        <div class="media-body text-lh-sm">
                                            <span class="d-block font-size-14">Secteur 1</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-6 col-lg-4">
                            <ul class="list-unstyled mb-0">
                                <li class="mb-4">
                                    <div class="media">
                                        <div class="media-body text-lh-sm">
                                            <span class="d-block font-size-14">Secteur 2</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-6 col-lg-4">
                            <ul class="list-unstyled mb-0">
                                <li class="mb-4">
                                    <div class="media">
                                        <div class="media-body text-lh-sm">
                                            <span class="d-block font-size-14">Secteur 3</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <!-- End List -->
                        </div>
                    </div>
                    <!-- End Secteur d'activite -->

                    <hr class="my-7">

                    <!-- Info -->
                    <div class="row mb-7">
                        <div class="col-md-6 mb-7 mb-md-0">
                            <!-- Title -->
                            <div class="mb-3">
                                <h3 class="h5 mb-0 text-primary">Franchises souhaitées</h3>
                            </div>
                            <!-- End Title -->

                            <!-- Info -->
                            <div class="d-flex mb-5">
                                <div>
                                    <span class="d-block text-secondary"> Franchises 1 </span>
                                    <span class="d-block text-secondary"> Franchises 2</span>
                                    <span class="d-block text-secondary"> Franchises 3</span>
                                    <span class="d-block text-secondary"> Franchises 4</span>                      
                                </div>
                            </div>
                            <!-- End Info -->
                        </div>

                        <div class="col-md-6 mb-3 mb-md-0">
                            <!-- Title -->
                            <div class="mb-3">
                                <h3 class="h5 mb-0 text-primary">Villes d'implantation envisagées</h3>
                            </div>
                            <!-- End Title -->

                            <!-- Info -->
                            <div class="row align-items-center mb-5">
                                <div class="col-8">
                                    <span class="d-block text-secondary">Ville 1</span>
                                    <span class="d-block text-secondary">Ville 2</span>
                                    <span class="d-block text-secondary">Ville 3</span>
                                    <span class="d-block text-secondary">Ville 4</span>
                                </div>
                            </div>
                            <!-- End Info -->
                        </div>
                    </div>
                    <!-- End Info -->
                
                </div>
            </div>
        </div>
    </div>
</main>