<!-- Header -->
<header id="header" class="u-header u-header--abs-top-md u-header--show-hide-md u-header--untransitioned" data-header-fix-moment="500" data-header-fix-effect="slide">
  <div class="u-header__section custom_header">
    <div id="logoAndNav" class="container">
      <!-- Nav -->
      <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar hs-menu-initialized hs-menu-horizontal">
        <!-- Logo -->
        <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-top-space custom_logo-2" href="/landing/bishal" aria-label="Front">
          <%= image_tag asset_pack_path('init/bootstrap/theme/svg/logos/logo-projects-locaux-blc.svg'), :alt => "Logo", :class => " custom_logo" %>
        </a>
        <!-- End Logo -->
      </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>
<!-- End Header -->

<main class="content" role="main">
    <!-- Front for -->
    <div class="container padding-top u-space-3-bottom">
        <div class="w-md-80 w-lg-50 mx-auto mb-9">
            <!-- Link -->
            <a class="media shadow-sm p-4" href="/landing/bishal3"> 
                <div class="col-12 mb-5">
                    <!-- Title -->
                    <div class="mb-4">
                        <h3 class="text-primary font-weight-bold">Créer un espace de travail</h3>
                        <p>Veuillez confirmer votre adresse e-mail afin de créer un tout nouvel espace de travail.</p>
                    </div>
                    <!-- End Title -->
                
                    <!-- Input -->
                    <div class="js-form-message mb-4">
                        <div class="js-focus-state input-group u-form">
                            <input type="email" class="form-control u-form__input" name="email" required="" placeholder="nom@example.com" aria-label="jack@walley.com" data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success">
                        </div>
                    </div>
                    <!-- End Input -->

                    <!-- Button -->
                    <div class="row align-items-center mb-5 text-center">
                        <div class="col-12 ">
                            <button type="submit" class="btn btn-block u-btn-primary--air transition-3d-hover">Confirmer</button>
                        </div>
                    </div>
                    <!-- End Button -->

                    <div class="row align-items-lg-center">
                        <div class="col-lg-12 order-lg-1 mb-7 mb-lg-0">
                            <!-- SVG Icon -->
                            <%= image_tag asset_pack_path('init/bootstrap/theme/svg/flat-icons/sitting-woman-flat-concept-illustration.svg'), :alt => "SVG Illustration" %>
                            <!-- End SVG Icon -->
                        </div>
                    </div>
                </div>
            </a>
            <!-- End Link -->
        </div> 
    </div>
    <!-- End Front for -->
</main>