<!-- Header -->
<header id="header" class="u-header u-header--abs-top-md u-header--show-hide-md u-header--untransitioned" data-header-fix-moment="500" data-header-fix-effect="slide">
  <div class="u-header__section custom_header">
    <div id="logoAndNav" class="container">
      <!-- Nav -->
      <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar hs-menu-initialized hs-menu-horizontal">
        <!-- Logo -->
        <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-top-space custom_logo-2" href="/landing/bishal" aria-label="Front">
          <%= image_tag asset_pack_path('init/bootstrap/theme/svg/logos/logo-projects-locaux-blc.svg'), :alt => "Logo", :class => " custom_logo" %>
        </a>
        <!-- End Logo -->
      </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>
<!-- End Header -->

<main class="content" role="main">
    <!-- Front for -->
    <div class="container mt-8 pt-8">
        <div class="w-md-80 w-lg-50 mx-auto mb-9">
            <!-- Form -->
            <form class="js-validate mt-3">
                <div class="media shadow-sm p-4"> 
                    <div class="col-12 mb-5">
                        <!-- Title -->
                        <div class="mb-4">
                            <h3 class="text-primary font-weight-bold">Créer un espace de travail</h3>
                            <p>Veuillez confirmer votre adresse e-mail afin de créer un tout nouvel espace de travail.</p>
                        </div>
                        <!-- End Title -->
                        
                        <!-- Input -->
                        <div class="js-form-message mb-4">
                            <label class="h6 small d-block text-uppercase">Nom</label>
                            <div class="js-focus-state input-group u-form">
                                <input type="text" class="form-control u-form__input" name="nom" required="" placeholder="votre nom" aria-label="jack@walley.com" data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success">
                            </div>
                        </div>
                        <!-- End Input -->

                        <!-- Input -->
                        <div class="js-form-message mb-4">
                            <label class="h6 small d-block text-uppercase">Prénom</label>
                            <div class="js-focus-state input-group u-form">
                                <input type="text" class="form-control u-form__input" name="prenom" required="" placeholder="votre prénom" aria-label="jack@walley.com" data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success">
                            </div>
                        </div>
                        <!-- End Input -->

                        <!-- Input -->
                        <div class="js-form-message mb-4">
                            <label class="h6 small d-block text-uppercase">Email</label>
                            <div class="js-focus-state input-group u-form">
                                <input type="emaili" class="form-control u-form__input" name="email" required="" placeholder="votre adresse email" aria-label="jack@walley.com" data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success">
                            </div>
                        </div>
                        <!-- End Input -->

                        <!-- Button -->
                        <div class="row align-items-center mb-5 text-center">
                            <div class="col-12 ">
                                <button type="submit" class="btn btn-block u-btn-primary--air transition-3d-hover">Confirmer</button>
                            </div>
                        </div>
                        <!-- End Button -->

                    </div>
                </div>
            </form>
            <!-- End Form -->
        </div> 
    </div>
    <!-- End Front for -->
</main>