<header id="header" class="u-header">
    <div class="u-header__section custom_header">
        <div id="logoAndNav" class="container">
            <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar hs-menu-initialized hs-menu-horizontal">
                <!-- Logo -->
                <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-top-space" href="bishal" aria-label="Front">
                    <%= image_tag asset_pack_path('init/bootstrap/theme/svg/logos/logo-projects-locaux-blc.svg'), :alt => "Logo", :class => " custom_logo" %>
                </a>
                <!-- End Logo -->
                
                <!-- Navigation -->
                <div id="navBar" class="collapse navbar-collapse py-0">
                    <ul class="navbar-nav u-header__navbar-nav ml-lg-auto">
                        <!-- Button -->
                        <li class="nav-item d-none d-md-inline-block pl-3 pr-0">
                            <a class="btn btn-sm btn-primary u-btn-primary transition-3d-hover" href="https://themes.getbootstrap.com/product/front-multipurpose-responsive-template/" target="_blank">
                                Mon compte
                            </a>
                        </li>
                        <!-- End Button -->
                    </ul>
                </div>
                <!-- End Navigation -->
            </nav>
            
        </div>
    </div>
</header>

<main id="content" role="main">
    <div class="bg-primary">
        <div class="container u-space-1-top pb-3">
            <div class="row">
                <div class="col-lg-7 order-lg-1">
                    <!-- User Info -->
                    <div class="media d-block d-sm-flex align-items-sm-center">
                        <div class="media-body">
                            <h1 class="h3 text-white font-weight-medium mb-1">Bonjour Nathalie</h1>
                            <span class="d-block text-white">vous avez XX porteurs de projets locaux disponibles aujourd’hui</span>
                        </div>
                    </div>
                    <!-- End User Info -->
                </div>
            </div>
        </div>

        <div class="container u-space-1-bottom u-space-bottom-0--lg">
            <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
                <div class="ml-lg-auto">
                    <!-- Button -->
                    <a class="btn btn-sm u-btn-white--air transition-3d-hover" href="#addTaskModal" data-modal-target="#addTaskModal" data-overlay-color="#111722">
                        <span class="fa fa-plus font-size-13 mr-2"></span>
                        Inviter un partenaire
                    </a>
                    <!-- End Button -->
                </div>
            </div>
        </div>
    </div>

    


    <!-- Dummy -->
    <div class="u-bg-light-blue-50">
      <div class="container u-space-2">
        <div class="bg-white p-4">
          <!-- Activity Menu -->
          <div class="row justify-content-sm-between align-items-sm-center">
            
            <div class="col-md-6">
              <div class="d-flex">
                <div class="dropdown bootstrap-select js-select u-select mr-2 fit-width">
                  <select class="js-select u-select mr-2" data-width="fit" data-style="u-btn-primary--air btn-sm" tabindex="-98">
                    <option value="taskSelect1" title="View" selected="">Completed tasks</option>
                    <option value="taskSelect2">Incomplete tasks</option>
                    <option value="taskSelect3">All tasks</option>
                  </select>
                  <button type="button" class="btn dropdown-toggle u-btn-primary--air btn-sm" data-toggle="dropdown" role="button" title="View" aria-expanded="false">
                  <div class="filter-option">
                    <div class="filter-option-inner">
                      <div class="filter-option-inner-inner">Afficher</div>
                    </div> 
                  </div>
                  </button>
                  <div class="dropdown-menu" role="combobox" x-placement="bottom-start" style="max-height: 347px; overflow: hidden; min-height: 0px; position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 43px, 0px);">
                    <div class="inner show" role="listbox" aria-expanded="false" tabindex="-1" style="max-height: 315px; overflow-y: auto; min-height: 0px;">
                      <ul class="dropdown-menu inner show">
                        <li class="selected active">
                          <a role="option" class="dropdown-item selected active" aria-disabled="false" tabindex="0" aria-selected="true">
                            <span class=" bs-ok-default check-mark"></span>
                            <span class="text">Ma Liste</span>
                          </a>
                        </li>
                        
                        <li>
                          <a role="option" class="dropdown-item" aria-disabled="false" tabindex="0" aria-selected="false">
                            <span class=" bs-ok-default check-mark"></span>
                            <span class="text">Toutes Le Liste</span>
                          </a>
                        </li>
                        
                        <li>
                            <a role="option" class="dropdown-item" aria-disabled="false" tabindex="0" aria-selected="false">
                                <span class=" bs-ok-default check-mark"></span>
                                <span class="text">List 1</span>
                            </a>
                        </li>
                        
                        <li>
                            <a role="option" class="dropdown-item" aria-disabled="false" tabindex="0" aria-selected="false">
                                <span class=" bs-ok-default check-mark"></span>
                                <span class="text">List 2</span>
                            </a>
                        </li>

                        <li>
                            <a role="option" class="dropdown-item" aria-disabled="false" tabindex="0" aria-selected="false">
                                <span class=" bs-ok-default check-mark"></span>
                                <span class="text">List 3</span>
                            </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="dropdown bootstrap-select js-select u-select mr-2 fit-width">
                  <select class="js-select u-select mr-2" data-width="fit" data-style="u-btn-primary--air btn-sm" tabindex="-98">
                    <option value="taskSelect1" title="View" selected="">Completed tasks</option>
                    <option value="taskSelect2">Incomplete tasks</option>
                    <option value="taskSelect3">All tasks</option>
                  </select>
                  <button type="button" class="btn dropdown-toggle u-btn-primary--air btn-sm" data-toggle="dropdown" role="button" title="View" aria-expanded="false">
                    <div class="filter-option">
                      <div class="filter-option-inner">
                        <div class="filter-option-inner-inner">Filtres</div>
                      </div> 
                    </div>
                  </button>
                  <div class="dropdown-menu" role="combobox" x-placement="bottom-start" style="max-height: 347px; overflow: hidden; min-height: 0px; position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 43px, 0px);">
                    <div class="inner show" role="listbox" aria-expanded="false" tabindex="-1" style="max-height: 315px; overflow-y: auto; min-height: 0px;">
                      <ul class="dropdown-menu inner show">
                        <li class="selected active">
                          <a role="option" class="dropdown-item selected active" aria-disabled="false" tabindex="0" aria-selected="true">
                            <span class=" bs-ok-default check-mark"></span>
                            <span class="text">Créateur</span>
                          </a>
                        </li>
                        <li>
                          <a role="option" class="dropdown-item" aria-disabled="false" tabindex="0" aria-selected="false">
                            <span class=" bs-ok-default check-mark"></span>
                            <span class="text">Repreneur</span>
                          </a>
                        </li>
                        <li>
                          <a role="option" class="dropdown-item" aria-disabled="false" tabindex="0" aria-selected="false">
                            <span class=" bs-ok-default check-mark"></span>
                            <span class="text">Cédant</span>
                          </a>
                        </li>
                        <li>
                          <a role="option" class="dropdown-item" aria-disabled="false" tabindex="0" aria-selected="false">
                            <span class=" bs-ok-default check-mark"></span>
                            <span class="text">Recherche local</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-5 col-lg-4 mb-2 mb-md-0">
              <a class="btn btn-sm btn-primary" href="#addTaskModal" data-modal-target="#addTaskModal" data-overlay-color="#111722">Imprimer</a>
              <a class="btn btn-sm btn-secondary" href="#addTaskModal" data-modal-target="#addTaskModal" data-overlay-color="#111722">Envoyer par mail</a>
            </div>

            
          </div>
          <!-- End Activity Menu -->

          <hr class="my-5">

          <!-- Activity Table -->
          <div class="table-responsive-md u-datatable">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer"><div class="dataTables_length" id="DataTables_Table_0_length"><label>Show <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div><div id="DataTables_Table_0_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="DataTables_Table_0"></label></div><table class="js-datatable table table-borderless u-datatable__striped u-datatable__content u-datatable__trigger mb-5 dataTable no-footer" data-dt-info="#datatableInfo" data-dt-search="#datatableSearch" data-dt-entries="#datatableEntries" data-dt-page-length="12" data-dt-is-responsive="false" data-dt-is-show-paging="true" data-dt-details-invoker=".js-datatabale-details" data-dt-select-all-control="#invoiceToggleAllCheckbox" data-dt-pagination="datatablePagination" data-dt-pagination-classes="pagination mb-0" data-dt-pagination-items-classes="page-item" data-dt-pagination-links-classes="page-link" data-dt-pagination-next-classes="page-item" data-dt-pagination-next-link-classes="page-link" data-dt-pagination-next-link-markup="<span aria-hidden=&quot;true&quot;>»</span>" data-dt-pagination-prev-classes="page-item" data-dt-pagination-prev-link-classes="page-link" data-dt-pagination-prev-link-markup="<span aria-hidden=&quot;true&quot;>«</span>" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
              <thead>
                <tr class="text-uppercase font-size-10 text-center" role="row">
                  <th scope="col" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Checkbox : activate to sort column descending" aria-sort="ascending" style="width: 67px;">
                    <div class="custom-control custom-checkbox d-flex align-items-center">
                      <input type="checkbox" class="custom-control-input" id="invoiceToggleAllCheckbox">
                      <label class="custom-control-label" for="invoiceToggleAllCheckbox">
                        <span class="text-hide">Checkbox</span>
                      </label>
                    </div>
                  </th>
                  
                  <th scope="col" class="font-weight-bold sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Order : activate to sort column ascending" style="width: 157px;">
                    <div class="d-flex justify-content-between align-items-center">
                      Nom
                      <div class="ml-2">
                        <span class="fa fa-angle-up u-datatable__thead-icon"></span>
                        <span class="fa fa-angle-down u-datatable__thead-icon"></span>
                      </div>
                    </div>
                  </th>
                  
                  <th scope="col" class="font-weight-bold sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Client : activate to sort column ascending" style="width: 240px;">
                    <div class="d-flex justify-content-between align-items-center">
                      SECTEUR D’ACTIVITÉ
                      <div class="ml-2">
                        <span class="fa fa-angle-up u-datatable__thead-icon"></span>
                        <span class="fa fa-angle-down u-datatable__thead-icon"></span>
                      </div>
                    </div>
                  </th>
                  
                  <th scope="col" class="font-weight-bold sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Amount : activate to sort column ascending" style="width: 171px;">
                    <div class="d-flex justify-content-between align-items-center">
                      CRÉATEUR/ CÉDANT
                      <div class="ml-2">
                        <span class="fa fa-angle-up u-datatable__thead-icon"></span>
                        <span class="fa fa-angle-down u-datatable__thead-icon"></span>
                      </div>
                    </div>
                  </th>
                  
                  <th scope="col" class="font-weight-bold sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Date : activate to sort column ascending" style="width: 126px;">
                    <div class="d-flex justify-content-between align-items-center">
                      HORIZON DU PROJET
                      <div class="ml-2">
                        <span class="fa fa-angle-up u-datatable__thead-icon"></span>
                        <span class="fa fa-angle-down u-datatable__thead-icon"></span>
                      </div>
                    </div>
                  </th>
                  
                  <th scope="col" class="font-weight-bold sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status : activate to sort column ascending" style="width: 157px;">
                    <div class="d-flex justify-content-between align-items-center">
                      DATE DE MISE À JOUR
                      <div class="ml-2">
                        <span class="fa fa-angle-up u-datatable__thead-icon"></span>
                        <span class="fa fa-angle-down u-datatable__thead-icon"></span>
                      </div>
                    </div>
                  </th>

                  <th scope="col" class="font-weight-bold sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status : activate to sort column ascending" style="width: 181px;">
                    <div class="d-flex justify-content-between align-items-center"></div>
                  </th>
                
                </tr>
              </thead>
              <tbody class="font-size-14">
                <tr class="js-datatabale-details odd font-size-13" data-details="" role="row">
                  <td class="align-middle sorting_1">
                    <div class="custom-control custom-checkbox d-flex align-items-center">
                      <input type="checkbox" class="custom-control-input" id="invoiceCheckbox01">
                      <label class="custom-control-label" for="invoiceCheckbox01">
                        <span class="text-hide">Checkbox</span>
                      </label>
                    </div>
                  </td>
                  
                  <td class="align-middle text-secondary font-weight-normal">Paul Langevin</td>
                  <td class="align-middle">
                    <div class="media align-items-center">
                      <span class="u-icon u-icon-success--air rounded-circle mr-2">
                        <span class="u-icon__inner font-weight-medium">C</span>
                      </span>
                      <span>Coiffure</span>
                    </div>
                  </td>

                  <td class="align-middle text-warning">
                    <span class="fa fa-arrow-up mr-1"></span>
                    Créateur
                  </td>

                  <td class="align-middle text-primary">2018</td>
                  <td class="align-middle text-primary">03 Sept. 2018</td>
                  <td class="align-middle text-primary">Details</td>
                </tr>

                <tr class="js-datatabale-details odd font-size-13" data-details="" role="row">
                  <td class="align-middle sorting_1">
                    <div class="custom-control custom-checkbox d-flex align-items-center">
                      <input type="checkbox" class="custom-control-input" id="invoiceCheckbox02">
                      <label class="custom-control-label" for="invoiceCheckbox01">
                        <span class="text-hide">Checkbox</span>
                      </label>
                    </div>
                  </td>
                  
                  <td class="align-middle text-secondary font-weight-normal">Julien Thomas</td>
                  <td class="align-middle">
                    <div class="media align-items-center">
                      <span class="u-icon u-icon-danger--air rounded-circle mr-2">
                        <span class="u-icon__inner font-weight-medium">C</span>
                      </span>
                      <span>Cafe</span>
                    </div>
                  </td>

                  <td class="align-middle text-danger">
                    <span class="fa fa-arrow-down mr-1"></span>
                     Cédant
                  </td>

                  <td class="align-middle text-primary">2019</td>
                  <td class="align-middle text-primary">03 Mar. 2019</td>
                  <td class="align-middle text-primary">Details</td>
                </tr>

                <tr class="js-datatabale-details odd font-size-13" data-details="" role="row">
                  <td class="align-middle sorting_1">
                    <div class="custom-control custom-checkbox d-flex align-items-center">
                      <input type="checkbox" class="custom-control-input" id="invoiceCheckbox03">
                      <label class="custom-control-label" for="invoiceCheckbox01">
                        <span class="text-hide">Checkbox</span>
                      </label>
                    </div>
                  </td>
                  
                  <td class="align-middle text-secondary font-weight-normal ">William Lorraine</td>
                  <td class="align-middle">
                    <div class="media align-items-center">
                      <span class="u-icon u-icon-success--air rounded-circle mr-2">
                        <span class="u-icon__inner font-weight-medium">F</span>
                      </span>
                      <span>Formage</span>
                    </div>
                  </td>

                  <td class="align-middle text-warning">
                    <span class="fa fa-arrow-down mr-1"></span>
                    Créateur
                  </td>

                  <td class="align-middle text-primary">2017</td>
                  <td class="align-middle text-primary">15 Aug. 2017</td>
                  <td class="align-middle text-primary">Details</td>
                </tr>
                
                </tbody>
            </table><div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 6 of 24 entries</div><div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"><a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous">Previous</a><span><a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a><a class="paginate_button " aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0">2</a><a class="paginate_button " aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0">3</a><a class="paginate_button " aria-controls="DataTables_Table_0" data-dt-idx="4" tabindex="0">4</a></span><a class="paginate_button next" aria-controls="DataTables_Table_0" data-dt-idx="5" tabindex="0" id="DataTables_Table_0_next">Next</a></div></div>
          </div>
          <!-- End Activity Table -->

          <!-- Pagination -->
          <div class="d-flex justify-content-between align-items-center">
            <nav id="datatablePagination" aria-label="Activity pagination">
              <ul class="pagination mb-0">				
                <li class="page-item">				  
                  <a id="datatablePaginationPrev" class="page-link" href="javascript:;" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                  </a>				
                </li>
                <li class="page-item active">
                  <a id="datatablePaginationPage0" class="page-link" href="javascript:;" data-dt-page-to="0">1</a>
                </li>
                <li class="page-item">
                  <a id="datatablePagination1" class="page-link" href="javascript:;" data-dt-page-to="1">2</a>
                </li>
                <li class="page-item">				  
                  <a id="datatablePaginationNext" class="page-link" href="javascript:;" aria-label="Next">
                    <span aria-hidden="true">»</span>
                  </a>				
                </li>				
              </ul>
            </nav>

            <small id="datatableInfo" class="text-secondary">Showing 1 to 3 of 3 Entries</small>
          </div>
          <!-- End Pagination -->
        </div>
      </div>
    </div>
    <!-- End Dummy -->
</main>
