<header>    
    <div class="site-header">
        <div class="nav-bar nav-blog">
            <div class="container">
                <div class="row">
                    <div class="col-9 col-lg-3">
                        <div class="site-branding">
                            <h2 class="site-title"><a href="index" rel="home">inSiti<span> Masterclass</span></a></h2>
                        </div><!-- .site-branding -->
                    </div><!-- .col -->

                    <div class="col-3 col-lg-9 d-flex justify-content-end align-content-center">
                        <nav class="site-navigation d-flex justify-content-end align-items-center">
                            <a href="blog" target="#">Blog</a>
                            <div class="read-more">
                                <a href="#" data-toggle="modal" data-target="#modalinSiti">INSCRIPTION</a>
                            </div>
                        </nav><!-- .site-navigation -->

                        <!-- Modal -->
                        <div class="modal fade modal-dialog-bg" id="modalinSiti" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <button type="button" class="close text-right m-3 mr-2" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>

                                    <div class="d-block text-center p-2">
                                        <h4 class="modal-title mx-auto modal-title-text" id="exampleModalLabel">
                                            Inscrivez-vous à notre Masterclass à <br/>partir de votre compte 
                                            <span class="font-weight-bold">inSiti </span> 
                                        </h4>
                                    </div>

                                    <div class="mx-auto mb-2 w-80 text-center">
                                        <a class="btn btn-connection text-connection w-80 mt-3" href="https://insiti.com/login" target="_blank">Connexion</a>
                                    </div>

                                    <div class="text-center mt-1 mb-7">
                                        <span class="small text-muted">Pas encore inscrit?</span>
                                        <a class="small" href="https://insiti.com/compte" target="_blank">M'inscrive gratuitement</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Modal -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->
    </div>
</header>

<section class="dzsparallaxer auto-init height-is-based-on-content bg-color">
    <div class="container u-space-3-top u-space-1-bottom">
        <div class="text-center w-lg-80 mx-auto u-space-2-bottom">
            <h1 class="display-4 font-size-48--md-down text-white font-weight-normal mb-0">Announcing a free plan for small teams</h1>
        </div>
    </div>
    <!-- Content -->
</section>

<section class="container u-space-2-top">
    <div class="w-lg-60 mx-auto">
    <div class="mb-4">
        <span class="text-muted">April 15, 2018</span>
    </div>

    <div class="mb-5">
        <p>At Front, our mission has always been focused on bringing openness and transparency to the design process. We've always believed that by providing a space where designers can share ongoing work not only empowers them to make better products, it also helps them grow. We're proud to be a part of creating a more open culture and to continue building a product that supports this vision.</p>
        <p>As we've grown, we've seen how Front has helped companies such as Spotify, Microsoft, Airbnb, Facebook, and Intercom bring their designers closer together to create amazing things. We've also learned that when the culture of sharing is brought in earlier, the better teams adapt and communicate with one another.</p>
        <p>That's why we are excited to share that we now have a <a href="#">free version of Front</a>, which will allow individual designers, startups and other small teams a chance to create a culture of openness early on.</p>
    </div>

    <h2 class="h5 mb-3">Bringing the culture of sharing to everyone.</h2>

    <p>Small teams and individual designers need a space where they can watch the design process unfold, both for themselves and for the people they work with – no matter if it's a fellow designer, product manager, developer or client. Front allows you to invite more people into the process, creating a central place for conversation around design. As those teams grow, transparency and collaboration becomes integrated in how they communicate and work together.</p>
    </div>
</section>

<section class="container u-space-2-top u-space-3-bottom">
    <div class="w-lg-60 mx-auto text-center">
            <div class="u-label u-label--xs u-label--secondary" href="#">Partager</div>
        
        <hr class="my-2">
        <!-- Social Networks -->
        <ul class="list-inline text-center mb-0">
            <li class="list-inline-item">
            <a class="u-bg-transparent u-icon u-icon-secondary--air" href="#">
                <span class="fab fa-facebook-f u-icon__inner"></span>
            </a>
            </li>
            <li class="list-inline-item">
            <a class="u-bg-transparent u-icon u-icon-secondary--air" href="#">
                <span class="fab fa-google u-icon__inner"></span>
            </a>
            </li>
            <li class="list-inline-item">
            <a class="u-bg-transparent u-icon u-icon-secondary--air" href="#">
                <span class="fab fa-twitter u-icon__inner"></span>
            </a>
            </li>
            <li class="list-inline-item">
            <a class="u-bg-transparent u-icon u-icon-secondary--air" href="#">
                <span class="fab fa-pinterest u-icon__inner"></span>
            </a>
            </li>
            <li class="list-inline-item">
            <a class="u-bg-transparent u-icon u-icon-secondary--air" href="#">
                <span class="fab fa-get-pocket u-icon__inner"></span>
            </a>
            </li>
            <li class="list-inline-item">
            <a class="u-bg-transparent u-icon u-icon-secondary--air" href="#">
                <span class="fab fa-telegram-plane u-icon__inner"></span>
            </a>
            </li>
            <li class="list-inline-item">
            <a class="u-bg-transparent u-icon u-icon-secondary--air" href="#">
                <span class="fab fa-slack-hash u-icon__inner"></span>
            </a>
            </li>
        </ul>
        <!-- End Social Networks -->

    </div>
</section>

<footer>
    <div class="footer-bar">
        <div class="container-fluid">
            <div class="row pl-7 pr-7 flex-wrap justify-content-center justify-content-lg-between align-items-center">
                <div class="col-12 col-lg-6 col-md-12 text-center text-lg-left">
                    <p class="footer-copyright">
                        Copyright © <a href="https://insiti.com/" target="_blank">inSiti </a> | 
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | <a href="http://www.insiti.co/" target="_blank"> inSiti Groupe</a>
                    </p>
                </div>

                 <div class="col-12 col-lg-6 col-md-12 mt-md-0 text-center text-lg-right">
                    <!-- Social Networks -->
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="u-bg-transparent u-icon u-icon-light--air" href="https://www.facebook.com/inSitiNews/" target="_blank">
                                <span class="fab fa-facebook-f u-icon__inner"></span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="u-bg-transparent u-icon u-icon-light--air" href="https://www.linkedin.com/company/insiti/about/" target="_blank">
                                <span class="fab fa-linkedin u-icon__inner"></span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="u-bg-transparent u-icon u-icon-light--air" href="https://twitter.com/insitinews" target="_blank">
                                <span class="fab fa-twitter u-icon__inner"></span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="u-bg-transparent u-icon u-icon-light--air" href="https://instagram.com/insiti_news" target="_blank">
                                <span class="fab fa-instagram u-icon__inner"></span>
                            </a>
                        </li>
                    </ul>
                    <!-- End Social Networks -->
                </div>
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .footer-bar -->
</footer>

