/* Bishal */

figure {
  margin: 0 0 0 !important;
}

.u-btn-pill {
  border-radius: 6.1875rem !important;
}

.custom_logo {
  height: 40px;
  margin-top: 10px;
}

.main_logo {
  height: 65px;
  padding-top: 1rem;
}

.custom_logo-4 {
  width: 4rem;
}

.custom_logo-9 {
  width: 9rem;
}

.modified-container {
  width: 55% !important;
}

.input-group-lg > .form-control {
  text-align: center;
}

/* ======== For Premeirs Pas Page =============== */

.custom_header {
  background: #377dff;
}

.custom_logo-2 {
  margin: 0 auto;
}

.padding-top {
  padding-top: 10rem;
}

.m-l-10 {
  margin-left: 10px;
}

.fa-size {
  font-size: 1.5rem;
}

.inline {
  display: inline;
  text-align: justify;
}

.input-height {
  height: calc(2.25rem + 2px) !important;
  padding: 0.5rem;
}

.input-group-text-modified {
  padding: 0.5rem 1rem;
}

.resize-none {
  resize: none;
}

.font-size-10 {
  font-size: 0.7rem;
}

@media (max-width: 768px) {
  .u-space-3 {
    padding-top: 3rem;
  }
}


/* ============================================== */

#video-background {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 90%;
  width: auto; 
  height: 97%;
  z-index: -100;
  top: 0;
}

.bg-soft{
  background: #e6e9ec !important;
}

.font-weight-semi-bold{
  font-weight: 600 !important;
}

.list-group {
  list-style: none;
}

.list-group-borderless .list-group-item {
  border: none;
}

.list-group-flush .list-group-item {
  padding-left: 0;
  padding-right: 0;
}

.list-group .list-group-item {
  font-size: 0.875rem;
}

.content-centered-y {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.z-index-n1 {
  z-index: -1;
}

.mb-n3{
  margin-bottom: -1rem;
}

.ml-n3{
  margin-left: -1rem;
}

.btn-icon {
  position: relative;
  line-height: 0;
  font-size: 1rem;
  width: 3.125rem;
  height: 3.125rem;
  padding: 0;
}

.btn-icon.btn-sm, .btn-group-sm > .btn-icon.btn {
  font-size: 0.8175rem;
  width: 2rem;
  height: 2rem;
}

.btn-icon__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.custom-icon{
  height: 2rem;
  width: 2rem;
}

.mt-10{
  margin-top: 8rem;
}

.scrollDown{
  position: absolute;
  bottom: 15%;
  z-index: 1;
  margin: 0 auto;
}

.down{
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 60px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}

.down span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: goDown 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes goDown {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes goDown {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.cbp .img-modified{
  width: 80% !important;
  height: 80% !important;
}

.img-svg{
  width: 100%;
  height: 100%;
}

@media(max-width:991px){  
  .scrollDown{
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .num-visitor, .img-visitor{
    display: none;
  }
}

@media(max-width:767px){
  .heroTitle{
    position: relative;
    top: 8rem;
  }

  .table-width{
    width:115%;
  }
  
}

@media(max-width:576px){
  .scrollDown{
    display: none;
  }

  .fa-circle{
    display: none;
  }
}


/* ================ Corpo CSS ==================== */

.bg{
  background-image: url(../bootstrap/theme/img/bg-shapes/bg1.png);
}


.hero-img-icon1--transform{
  transform: matrix(0.3347, 0, 0, 0.3347, 35, -185);
  width: 35%;
  border: 10px solid #fff;
  border-radius: 50%;
}

.hero-img-icon2--transform{
  transform: matrix(0.3347, 0, 0, 0.3347, 65, -250);
  width: 35%;
  border: 10px solid #fff;
  border-radius: 50%;
}

.hero-img-icon3--transform{
  transform: matrix(0.3347, 0, 0, 0.3347, 430, -520);
  width: 30%;
  border: 10px solid #fff;
  border-radius: 50%;
}

.hero-img-icon4--transform{
  transform: matrix(0.3347, 0, 0, 0.3347, -220, -300);
  width: 20%;
  border-radius: 50%;
  border: 6px solid #fff;
}

.hero-img-icon5--transform{
  transform: matrix(0.3347, 0, 0, 0.3347, 75, -325);
  width: 35%;
  border-radius: 50%;
}


.b-n22{
  bottom: -22% !important;
}
.fl-img{
  width: 100%;
  margin-top: 1rem;
}

.fr-img{
  position: absolute;
  width: 65.5%;
  height: 56%;
  top: 37.5%;
  left: 37.5%;
  transform: translate(-50%,-50%);
  
}

/*     

transform="matrix(0.3347 0 0 0.3347 161.0156 95.0156)"
*/