/* Bishal */

figure {
  margin: 0 0 0 !important;
}

.u-btn-pill {
  border-radius: 6.1875rem !important;
}

.custom_logo {
  height: 85px;
  padding: 1rem;
}

.custom_logo-4 {
  width: 4rem;
}

.custom_logo-9 {
  width: 9rem;
}

.modified-container {
  width: 55% !important;
}

.input-group-lg > .form-control {
  text-align: center;
}

/* ======== For Premeirs Pas Page =============== */

.custom_header {
  background: #377dff;
}

.custom_logo-2 {
  margin: 0 auto;
}

.padding-top {
  padding-top: 10rem;
}

.m-l-10 {
  margin-left: 10px;
}

.fa-size {
  font-size: 1.5rem;
}

.inline {
  display: inline;
  text-align: justify;
}

.input-height {
  height: calc(2.25rem + 2px) !important;
  padding: 0.5rem;
}

.input-group-text-modified {
  padding: 0.5rem 1rem;
}

.resize-none {
  resize: none;
}

.font-size-10 {
  font-size: 0.7rem;
}

@media (max-width: 768px) {
  .u-space-3 {
    padding-top: 3rem;
  }
}


/* ============================================== */

#video-background {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 90%;
  width: auto; 
  height: 97%;
  z-index: -100;
  top: 0;
}

.bg-soft{
  background: #e6e9ec !important;
}

.font-weight-semi-bold{
  font-weight: 600 !important;
}

.list-group {
  list-style: none;
}

.list-group-borderless .list-group-item {
  border: none;
}

.list-group-flush .list-group-item {
  padding-left: 0;
  padding-right: 0;
}

.list-group .list-group-item {
  font-size: 0.875rem;
}

.content-centered-y {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.z-index-n1 {
  z-index: -1;
}

  
    