/* Bishal */

figure {
  margin: 0 0 0 !important;
}

.u-btn-pill {
  border-radius: 6.1875rem !important;
}

.custom_logo {
  height: 70px;
  margin-top: 20px;
}

.custom_logo-4 {
  width: 4rem;
}

.custom_logo-9 {
  width: 9rem;
}

.input-group-lg > .form-control {
  text-align: center;
}

/* ======== For Premeirs Pas Page =============== */

.custom_header {
  background: #377dff;
}

.custom_logo-2 {
  margin: 0 auto;
}

.padding-top {
  padding-top: 15%;
}

.m-l-10 {
  margin-left: 10px;
}

.fa-size {
  font-size: 1.5rem;
}

@media (max-width: 565px) {
  .padding-top {
    padding-top: 5%;
  }
}
